certifi >= 14.05.14
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1

Flask-SQLAlchemy==2.5.1
pymysql==1.0.2
mysqldbmodel==1.1.0 
Flask-APScheduler==1.12.3
PyYAML==6.0
pytz==2022.1